@{
    ViewBag.Title = "Inicio";
}

<div class="row jumbotron">
    <h3 class="text-black-50">CARTELERA</h3>
</div>
<div class="container">
    <div class="row text-justify-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/02/13/15/27/cartoon-characters-2062914_960_720.jpg" alt="Card image cap" width="550" height="300">
                <div class="card-block">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Horario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Bob Esponja</th>
                                <th>12:00 PM</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/04/27/03/19/wood-3353660_960_720.jpg" alt="Card image cap" width="550" height="300">
                    <div class="card-block">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Horario
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Avatar</th>
                                    <th>2:30 PM</th>
                                </tr>
                            </tbody>
                        </table>
                    
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row text-justify-between">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/01/19/13/20/wolverine-4777767_960_720.jpg" alt="Card image cap" width="550" height="300">
                <div class="card-block">
                   <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Horario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Logan</th>
                                <th>5:30 PM</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/07/02/19/36/marvel-5364165_960_720.jpg" alt="Card image cap" width="550" height="300">
                <div class="card-block">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Horario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Avengers</th>
                                <th>7:00 PM</th>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row text-justify-between">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/12/03/08/45/snow-3852960_960_720.jpg" alt="Card image cap" width="550" height="300">
                <div class="card-block">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Horario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Frozen</th>
                                <th>10:00 AM</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/11/01/14/50/mask-4594449_960_720.jpg" alt="Card image cap" width="550" height="300">
                <div class="card-block">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Horario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>SCREAM</th>
                                <th>10:00 PM</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row text-justify-between">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/01/25/13/22/cars-3954498_960_720.jpg" alt="Card image cap" width="550" height="300">
                <div class="card-block">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Horario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Repido y Furioso</th>
                                <th>6:00 PM</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/05/31/20/48/clown-4242965_960_720.jpg" alt="Card image cap" width="550" height="300">
                <div class="card-block">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Horario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>IT: El payaso diabolico</th>
                                <th>12:00 AM</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row text-justify-between">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://media.istockphoto.com/photos/strong-woman-picture-id475636376?b=1&k=6&m=475636376&s=170667a&w=0&h=IOjJ0cvwCGfRlydQce7cw_FWGsNOHyFuUQFy5NbyRc0=" alt="Card image cap" width="550" height="300">
                <div class="card-block">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Horario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Liga de la justicia</th>
                                <th>9:30 AM</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/03/21/02/51/deadpool-4070071_960_720.jpg" alt="Card image cap" width="550" height="300">
                <div class="card-block">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Horario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Logan</th>
                                <th>5:30 PM</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>




